# dependencias
node_modules/
server/node_modules/

# build y construcciones
dist/
dist-ssr/
build/

# archivos del entorno
.env
server/.env
*.local

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# cache
.DS_Store
Thumbs.db
*.swp
*.swo

# edits
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# misc
*.tmp
*.bak
